header {
    width: 100%;
    max-width: 1240px;
    height: 68px;
    /* left: 100px; */
    /* right: 100px; */
    top: 40px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    width: 210.32px;
    height: 68px;
    left: 100px;


}

nav {
    top: 40px;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: flex-end;
}

img {
    width: 100px;
}

ul {
    list-style: none;
    color: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

nav-items {
    margin-right: 10px;
    cursor: pointer;
}

.nav-link {
    color: #FF6060;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    display: block;
    height: 68px;
    line-height: 68px;
}

.nav-link-actived {
    color: #FF6060;
    text-decoration: none;
    border-bottom: 2px solid #FF6060;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
}